/* ======Nav menu a====== */

@mixin nav__menu-a($font_size_16,$font_weight_500,$font_family_p,$line_height_28){
    font-size: $font_size_16;
    font-weight: $font_weight_500;
    font-family: $font_family_p;
    line-height: $line_height_28;
}

@mixin nav__menu-a-hover($white){
    color: $white;
}

/* ======Nav Button a====== */

@mixin nav__btn-a($white_gay_20,$white_gay_1,$font_size_16,$font_weight_500,$font_family_p,$line_height_28){
    border-radius: 41px;
    border: 2px solid $white_gay_20;
    padding: 16px 48px;
    color: $white_gay_1;
    font-size: $font_size_16;
    font-weight: $font_weight_500;
    font-family: $font_family_p;
    line-height: $line_height_28;
    text-transform: capitalize;
    background-color: transparent;
    transition: all linear 0.3s;
}

@mixin nav__btn-a-hover($yellow,$white){
    background-color: $yellow;
    color: $white;
}


/* ======Work Heading h2====== */

@mixin work__heading-h2($font_size_48,$font_weight_500,$font_family_p,$line_height_64,$dark_blue){
    font-size: $font_size_48;
    font-weight: $font_weight_500;
    font-family: $font_family_p;
    line-height: $line_height_64;
    color: $dark_blue;
    text-transform: capitalize;
}

/* ========work heading p======== */
@mixin work__heading-p($font_size_16,$font_weight_400,$font_family_p,$line_height_28){
    font-size: $font_size_16;
    font-weight: $font_weight_400;
    font-family: $font_family_p;
    line-height: $line_height_28;
}