/* ====== font size ====== */
$font_size_12: 12px;
$font_size_16: 16px;
$font_size_18: 18px;
$font_size_24: 24px;
$font_size_32: 32px;
$font_size_38: 38px;
$font_size_48: 48px;
$font_size_54: 54px;

/* ======color====== */
$white_gay: #BBBBCB;
$white_gay_1: #D9D9D9;
$white_gay_20: #F4F6FC;
$white: #FFFFFF;
$white_1: #ECECF1;
$yellow: #FCD980;
$blue: #1C1E53;
$black: #1B1C2B;
$b_white: #F4F6FC;
$dark_blue: #282938;
$light_blue: #2405F2;
$blue_50: rgba(28, 30, 83, 0.5);

/* ======font weight====== */
$font_weight_400: 400;
$font_weight_500: 500;
$font_weight_600: 600;

/* ======line height====== */
$line_height_28: 28px;
$line_height_32: 32px;
$line_height_36: 36px;
$line_height_48: 48px;
$line_height_56: 56px;
$line_height_64: 64px;
$line_height_74: 74px;

/* ======font family====== */
$font_family_p: 'Poppins', sans-serif;
$font_family_m: 'Manrope', sans-serif;