/* ====== font size ====== */
$font_size_16: 16px;
$font_size_18: 18px;
$font_size_54: 54px;

/* ======color====== */
$white_gay: #BBBBCB;
$white_gay_1: #D9D9D9;
$white_gay_20: #F4F6FC;
$white: #FFFFFF;
$yellow: #FCD980;
$blue: #1C1E53;
$black: #1B1C2B;

/* ======font weight====== */
$font_weight_500: 500;
$font_weight_600: 600;

/* ======line height====== */
$line_height_28: 28px;
$line_height_32: 32px;
$line_height_74: 74px;

/* ======font family====== */
$font_family_p: 'Poppins', sans-serif;
$font_family_m: 'Manrope', sans-serif;